@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
html{
    font-size: 50%; /* 8px => 8 / 16 = 50% */
}
body{
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
.stat-card-component{
    background-color: hsl(244, 38%, 16%);
    width: 30rem;
    border-radius: 1rem;
    overflow: hidden;
}
.photo{
    width: 100%;
    min-height: 22rem;
    display: block;
    position: relative;
    background-image: linear-gradient(rgba(170, 92, 219, 0.8), rgba(170, 92, 219, 0.8)), url(img/image-header-mobile.jpg);
    background-size: cover;
    background-position-x: center;
    background-blend-mode: multiply;
}
.content{
    padding: 3rem;
    text-align: center;
}
.content-heading{
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}
.content-heading-special{
    color: hsl(277, 64%, 61%);
}
.content-paragraph{
    font-weight: 100;
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 0.75);
    margin: 1rem 0 3rem;
}
.content-stat{
    margin-top: 2rem;
    font-family: 'Inter', sans-serif;
}
.stat-box:not(:last-child){
    margin-bottom: 2rem;
}
.stat-box-value{
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    display: block;
}
.stat-box-title{
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
@media only screen and (min-width: 52.25em){ /* 900px / 16px = 52.25em */
    html{
        font-size: 56.25%; /* 9px => 9 / 16 = 56.25% */
    }
    .stat-card-component{
        width: 85rem;
        margin: 5rem auto;
        display: flex;
        justify-content: space-between;
    }
    .content{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5rem;
        text-align: left;
    }
    .content-stat{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-top: 3rem;
    }
    .photo{
        flex-basis: 50%;
        order: 1;
        background-image: linear-gradient(rgba(170, 92, 219, 0.8), rgba(170, 92, 219, 0.8)), url(img/image-header-desktop.jpg);
    }
    .content-heading{
        font-size: 3rem;
    }
    .stat-box:not(:last-child){
        margin-bottom: 0;
        margin-right: 3rem;
    }
    .content-paragraph{
        margin: 3rem 5rem 3rem 0;
    }
} 
@media only screen and (min-width: 75em){ /* 1200px / 16px =  75em*/
    html{
        font-size: 62.5%; /* 10px => 10 / 16 =  62.5%*/
    }
    .stat-card-component{
        width: 120rem;
    }
    .content{
        padding-right: 10rem;
    }
    .content-heading{
        font-size: 4rem;
    }
    .stat-box:not(:last-child){
        margin-bottom: 0;
        margin-right: 7rem;
    }
}